@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    color: hsl(219, 12%, 42%);
    background-color: hsl(210, 60%, 98%);
}


container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

p {
    margin: 0.2rem 0 0 0;
    color: hsl(219, 14%, 63%);
}


h1 {
    margin: 0;
    display: inline;
    font-size: 1.66em;
    color: black;
}

main {
    max-width: 550px;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
}

.red-dot {
    background-color: red;
    width: 0.36rem;
    height: 0.36rem;
    display: inline-block;
    border-radius: 50%;
    margin: 0 0 0.07rem 0.2rem;
}

.right-header {
    padding-top: 5px;
}

#mark-read:hover {
    color: darkblue;
    cursor: pointer;
}

.left-post-side img {
    width: 2.5rem;
    padding: 0.25rem;
}


.right-post-side {
    margin: 0.6rem 0 0 0.8rem;
}

.chess-club {
    font-weight: 700;
    color: darkblue;
}

.chess-club:hover {
    cursor: pointer;
}


#number-notifications {
    background-color: darkblue;
    color: white;
    font-size: 0.6em;
    padding: 0.2rem 0.7rem;
    border-radius: 0.5rem;
    position: absolute;
    margin-left: 0.4rem;
    margin-top: 0.1rem;

}

.stronger {
    font-weight: 700;
}

.stronger:hover {
    cursor: pointer;
    color: darkblue;
}

.reply {
    padding: 1rem;
    max-width: 75%;
    margin-left: 7em;
    border-radius: 0.33rem;
    border: 1px solid hsl(211, 68%, 94%);
}

.reply:hover {
    background-color: hsl(211, 68%, 94%);
    cursor: pointer;
}

strong {
    margin-right: 0.25rem;
    color: black;
}

strong:hover {
    color: darkblue;
    cursor: pointer;
}

.white {
    background-color: white;
}

.unread-post {
    display: flex;
    background-color: hsl(210, 60%, 98%);
    padding: 0.5rem;
    margin: 0.5rem 0 0 0;
    border-radius: 0.5rem;
}


.right-image {
    margin-left: 15em;
    margin-top: 0.5em;
}

.right-image img {
    width: 2rem;
}

.right-image img:hover {
    cursor: pointer;

}

.read-post {
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem 0 0 0;
}

@media (max-width: 376px) {
    .right-image {
        margin-left: 2em;
    }

    container {
        height: 105vh;
    }

    h1 {
        font-size: 1.4em;
    }
}

@media (max-width: 600px) {
    .right-image {
        margin-left: 4em;
    }
}